html
 head
  link(rel="stylesheet" href="./assets/index.css")
  <link rel="stylesheet" href="/src/style.css"/>
  script(type="module", src="/src/js/language.ts" defer) 

  block config
  block metatags 
   include ../config/metatags.pug

  //- block scripts
  //-  script(src='./jquery.js')
 body
  div(class="flex min-h-screen flex-col")
   block mainNav
    include ../components/mainNav.pug
    //- include ./footer.pug
   block content
   block footer
    include ./footer.pug