block config
 - var pageTitle = "PharMed - All of Medicine at Your Fingertips";
 - var pageDescription = "For health‑care students and professionals who need fast, reliable, up‑to‑date medical information in one place.";
- var paginaPrincipal = `https://www.eltiempo.com`
//- -let pageTitle = 'Título por defecto desde variables.pug'
//- -let siteName = 'El Tiempo'
//- -let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
//- -let twitterAccount = '@NormanJaimes'



- var imgQuery = "?et03092101";
//- - var especialTitulo = "Perder la Vida en 2 ruedas";
//- - var textoRedesSociales = especialTitulo;
//- - var redesEnlace = "https://www.eltiempo.com";
//- - var imgURL = "https://www.eltiempo.com/infografias/2024/12/Motos/assets/";
//- - var imgURL = "./assets/";


//- -var barraTiempo = false;
//- -var barraTiempo = true;
//- //- Prefijo para no tener problemas con el CMS
//- //- -let prefijo = "NNJ-";
//- //- -let imgURL = "../../assets/";

//- -let pageTitle = 'Título por defecto desde variables.pug'
//- -let siteName = 'El Tiempo'
//- -let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
//- -let twitterAccount = '@NormanJaimes'

//- //- Variable para añadir una imagen que se presentara en las redes sociales
//- -let pageImage = ''

//- //- Página actual
//- -let currentPage = 'home';

//- //- Activar si se desea tener una barra en la parte superior de la página mostrando alguna información general de esta (Utilizado para mostrar promociones o cambios en ésta.)
//- -let topbar = true
//- -let sidebar = false
//- -let domain = 'https://example.com'

//- //- Creación de las páginas que va a tener el sitio web
//- -
//-  let pages = [
//-   {
//-    title: 'Home',
//-    url: '/',
//-    child: []
//-   },
//-   {
//-    title: 'About',
//-    url: 'about.html',
//-    child: [
//-     {
//-      title: 'Subitem1',
//-      url: 'subitem1.html'
//-     },
//-     {
//-      title: 'Subitem2',
//-      url: 'subitem2.html'
//-     }
//-    ]
//-   }
//-  ]
