mixin Card(features)
 each feature, index in features
  .rounded-lg.border.bg-card.text-card-foreground.shadow-sm.overflow-hidden.showScroll.border-gray-100
   .p-6.flex.flex-col.items-center.text-center.space-y-4
    .rounded-full.p-4(class='bg-[#5586DF]/10')
     case feature.icon
      when 'lucide-book-open'
       svg.lucide.h-10.w-10(class=`text-[#5586DF] ${feature.icon}` xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        path(d='M12 7v14')
        path(d='M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z')
      when 'lucide-search'
       svg.lucide.lucide-search.h-10.w-10(class='text-[#F1716F]' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        circle(cx='11' cy='11' r='8')
        path(d='m21 21-4.3-4.3')
      when  'lucide-calculator'
       svg.lucide.lucide-calculator.h-10.w-10(class='text-[#5586DF]' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        rect(width='16' height='20' x='4' y='2' rx='2')
        line(x1='8' x2='16' y1='6' y2='6')
        line(x1='16' x2='16' y1='14' y2='18')
        path(d='M16 10h.01')
        path(d='M12 10h.01')
        path(d='M8 10h.01')
        path(d='M12 14h.01')
        path(d='M8 14h.01')
        path(d='M12 18h.01')
        path(d='M8 18h.01')
      when  'lucide-database'
       svg.lucide.lucide-database.h-10.w-10(class='text-[#F1716F]' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        ellipse(cx='12' cy='5' rx='9' ry='3')
        path(d='M3 5V19A9 3 0 0 0 21 19V5')
        path(d='M3 12A9 3 0 0 0 21 12')
      when  'lucide-bot'
       svg.lucide.lucide-bot.h-10.w-10(class='text-[#5586DF]' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        path(d='M12 8V4H8')
        rect(width='16' height='12' x='4' y='8' rx='2')
        path(d='M2 14h2')
        path(d='M20 14h2')
        path(d='M15 13v2')
        path(d='M9 13v2')
      when  'lucide-flask-round'
       svg.lucide.lucide-flask-round.h-10.w-10(class='text-[#F1716F]' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        path(d='M10 2v7.31')
        path(d='M14 9.3V1.99')
        path(d='M8.5 2h7')
        path(d='M14 9.3a6.5 6.5 0 1 1-4 0')
        path(d='M5.52 16h12.96')

     //- svg.lucide.h-10.w-10(class=`text-[#5586DF] ${feature.icon}` xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
     //-  path(d='M12 7v14')
     //-  path(d='M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z')
    h3.text-xl.font-bold= feature.title
    p.text-sm.text-gray-500= feature.description